DASHSCOPE_API_KEY=sk-xxx
CASCADE_ASR_PROVIDER=zipformer_sherpa
CASCADE_LLM_PROVIDER=ollama-qwen2.5-0.5b
CASCADE_TTS_PROVIDER=piper_zh

SPARK_APP_ID=xxx
SPARK_API_SECRET=xxx
SPARK_API_KEY=xxx

BACKEND_PROVIDER=qwen_omni
MODEL_NAME=qwen3.5-omni-flash-realtime

REACHY_MINI_CUSTOM_PROFILE=default
HF_HOME=./models/huggingface